<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anansi: Your Story Begins!</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>
                <a class="anansi" href="/">Anansi Group</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a id="home" class="all-projects" href="/homepage">All Projects</a>
                <a class="dashboard" href="/dashboard">My Projects</a>
                <a id="logout" class="logout" href="/logout">Logout</a>
                {{else}}
                <a class="login" href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        
        <main>
            {{{ body }}}
        </main>
    </div>
   
    
</body>
<footer>
    <h6>&copy; 2021 Anansi Group LLC</h6>
</footer>

</html>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

</html>

</html>
