<div class="jumbotron">
  <div class="jumbotron-image">
    <img src="/images/hands.jpg" class="img-fluid" alt="Responsive image">
  </div> 
</div>
<div class="jumbotron">
  <div class="jumbotron-image">
    <img src="/images/company.jpg" class="img-fluid" alt="Responsive image">
  </div> 
</div>