
<div class="card">
    <h3 class="card-header">Login</h3>
    <form class="login-form">
        <div>
            <label for="exampleInputEmail">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div>
            <label for="exampleInputPassword">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
            <small id="passwordHelp" class="form-text text-muted">Password must have atleast four characters.</small>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
        <a class="login-link" href="/signup">Sign up instead</a>
    </form>
</div>

<script src="/javascript/login.js"></script>

