<div class="card">
    <h3 class="card-header">Sign Up</h3>
    <form class="signup-form">
        <div>
            <label for="exampleInputFirstName">First Name</label>
            <input type="name" class="form-control" id="exampleInputFirstName" aria-describedby="nameHelp" placeholder="Enter first name">
        </div>
        <div>
            <label for="exampleInputLastName">Last Name</label>
            <input type="name" class="form-control" id="exampleInputLastName" aria-describedby="nameHelp" placeholder="Enter last name">
        </div>
        <div>
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div>
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <small id="passwordHelp" class="form-text text-muted">Password must have atleast four characters.</small>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <a class="login-link" href="/login">Login instead</a>
    </form>
</div>
    <script src="/javascript/signup.js"></script>

